body, h1, h2, h3, h4, h5, p {
	font-family: 'Playfair Display', serif;
}

h2, h3 {
	font-weight: 700;
}

.jumbotron {
	position: relative;
	background: none;
	width: 100%;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.project > a.thumbnail {
	background-color: #555;
}

p {
    font-variant: small-caps;
}

.project p {
    font-variant: small-caps;
}

#project1 {
    font-variant: small-caps;
}

.grid {
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
	display: none;
}
